# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [2]:
#Your code here
cur.execute('''SELECT lastName, firstName FROM employees JOIN offices USING(officeCode) WHERE city="Boston";''')
cur.fetchall()

[('Firrelli', 'Julie'), ('Patterson', 'Steve')]

## Do any offices have no employees?

In [3]:
#Your code here
cur.execute('''SELECT city, COUNT(*) FROM offices LEFT JOIN employees USING(OfficeCode) GROUP BY 1;''')
df = pd.DataFrame(cur.fetchall())
df.head()

               0  1
0         Boston  2
1         London  2
2            NYC  2
3          Paris  5
4  San Francisco  6

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [7]:
# Your code here
# Display the phone numbers of all customers
cur.execute('''SELECT customerName, Phone FROM customers''').fetchall()

[('Atelier graphique', '40.32.2555'),
 ('Signal Gift Stores', '7025551838'),
 ('Australian Collectors, Co.', '03 9520 4555'),
 ('La Rochelle Gifts', '40.67.8555'),
 ('Baane Mini Imports', '07-98 9555'),
 ('Mini Gifts Distributors Ltd.', '4155551450'),
 ('Havel & Zbyszek Co', '(26) 642-7555'),
 ('Blauer See Auto, Co.', '+49 69 66 90 2555'),
 ('Mini Wheels Co.', '6505555787'),
 ('Land of Toys Inc.', '2125557818'),
 ('Euro+ Shopping Channel', '(91) 555 94 44'),
 ('Volvo Model Replicas, Co', '0921-12 3555'),
 ('Danish Wholesale Imports', '31 12 3555'),
 ('Saveley & Henriot, Co.', '78.32.5555'),
 ('Dragon Souveniers, Ltd.', '+65 221 7555'),
 ('Muscle Machine Inc', '2125557413'),
 ('Diecast Classics Inc.', '2155551555'),
 ('Technics Stores Inc.', '6505556809'),
 ('Handji Gifts& Co', '+65 224 1555'),
 ('Herkku Gifts', '+47 2267 3215'),
 ('American Souvenirs Inc', '2035557845'),
 ('Porto Imports Co.', '(1) 356-5555'),
 ('Daedalus Designs Imports', '20.16.1555'),
 ("La Corne D'abondance, Co.", '(1) 42.34.2555'),
 ('Cambridge Collectables Co.', '6175555555'),
 ('Gift Depot Inc.', '2035552570'),
 ('Osaka Souveniers Co.', '+81 06 6342 5555'),
 ('Vitachrome Inc.', '2125551500'),
 ('Toys of Finland, Co.', '90-224 8555'),
 ('AV Stores, Co.', '(171) 555-1555'),
 ('Clover Collections, Co.', '+353 1862 1555'),
 ('Auto-Moto Classics Inc.', '6175558428'),
 ('UK Collectables, Ltd.', '(171) 555-2282'),
 ('Canadian Gift Exchange Network', '(604) 555-3392'),
 ('Online Mini Collectables', '6175557555'),
 ('Toys4GrownUps.com', '6265557265'),
 ('Asian Shopping Network, Co', '+612 9411 1555'),
 ('Mini Caravy', '88.60.1555'),
 ('King Kong Collectables, Co.', '+852 2251 1555'),
 ('Enaco Distributors', '(93) 203 4555'),
 ('Boards & Toys Co.', '3105552373'),
 ('Natürlich Autos', '0372-555188'),
 ('Heintze Collectables', '86 21 3555'),
 ('Québec Home Shopping Network', '(514) 555-8054'),
 ('ANG Resellers', '(91) 745 6555'),
 ('Collectable Mini Designs Co.', '7605558146'),
 ('giftsbymail.co.uk', '(198) 555-8888'),
 ('Alpha Cognac', '61.77.6555'),
 ('Messner Shopping Network', '069-0555984'),
 ('Amica Models & Co.', '011-4988555'),
 ('Lyon Souveniers', '+33 1 46 62 7555'),
 ('Auto Associés & Cie.', '30.59.8555'),
 ('Toms Spezialitäten, Ltd', '0221-5554327'),
 ('Royal Canadian Collectables, Ltd.', '(604) 555-4555'),
 ('Franken Gifts, Co', '089-0877555'),
 ("Anna's Decorations, Ltd", '02 9936 8555'),
 ('Rovelli Gifts', '035-640555'),
 ('Souveniers And Things Co.', '+61 2 9495 8555'),
 ("Marta's Replicas Co.", '6175558555'),
 ('BG&E Collectables', '+41 26 425 50 01'),
 ('Vida Sport, Ltd', '0897-034555'),
 ('Norway Gifts By Mail, Co.', '+47 2212 1555'),
 ('Schuyler Imports', '+31 20 491 9555'),
 ('Der Hund Imports', '030-0074555'),
 ('Oulu Toy Supplies, Inc.', '981-443655'),
 ('Petit Auto', '(02) 5554 67'),
 ('Mini Classics', '9145554562'),
 ('Mini Creations Ltd.', '5085559555'),
 ('Corporate Gift Ideas Co.', '6505551386'),
 ('Down Under Souveniers, Inc', '+64 9 312 5555'),
 ('Stylish Desk Decors, Co.', '(171) 555-0297'),
 ('Tekni Collectables Inc.', '2015559350'),
 ('Australian Gift Network, Co', '61-7-3844-6555'),
 ('Suominen Souveniers', '+358 9 8045 555'),
 ('Cramer Spezialitäten, Ltd', '0555-09555'),
 ('Classic Gift Ideas, Inc', '2155554695'),
 ('CAF Imports', '+34 913 728 555'),
 ("Men 'R' US Retailers, Ltd.", '2155554369'),
 ('Asian Treasures, Inc.', '2967 555'),
 ('Marseille Mini Autos', '91.24.4555'),
 ('Reims Collectables', '26.47.1555'),
 ('SAR Distributors, Co', '+27 21 550 3555'),
 ('GiftsForHim.com', '64-9-3763555'),
 ('Kommission Auto', '0251-555259'),
 ('Gifts4AllAges.com', '6175559555'),
 ('Online Diecast Creations Co.', '6035558647'),
 ('Lisboa Souveniers, Inc', '(1) 354-2555'),
 ('Precious Collectables', '0452-076555'),
 ('Collectables For Less Inc.', '6175558555'),
 ('Royale Belge', '(071) 23 67 2555'),
 ('Salzburg Collectables', '6562-9555'),
 ('Cruz & Sons Co.', '+63 2 555 3587'),
 ("L'ordine Souveniers", '0522-556555'),
 ('Tokyo Collectables, Ltd', '+81 3 3584 0555'),
 ('Auto Canal+ Petit', '(1) 47.55.6555'),
 ('Stuttgart Collectable Exchange', '0711-555361'),
 ('Extreme Desk Decorations, Ltd', '04 499 9555'),
 ('Bavarian Collectables Imports, Co.', ' +49 89 61 08 9555'),
 ('Classic Legends Inc.', '2125558493'),
 ('Feuer Online Stores, Inc', '0342-555176'),
 ('Gift Ideas Corp.', '2035554407'),
 ('Scandinavian Gift Ideas', '0695-34 6555'),
 ('The Sharp Gifts Warehouse', '4085553659'),
 ('Mini Auto Werke', '7675-3555'),
 ('Super Scale Inc.', '2035559545'),
 ('Microscale Inc.', '2125551957'),
 ('Corrida Auto Replicas, Ltd', '(91) 555 22 82'),
 ('Warburg Exchange', '0241-039123'),
 ('FunGiftIdeas.com', '5085552555'),
 ('Anton Designs, Ltd.', '+34 913 728555'),
 ('Australian Collectables, Ltd', '61-9-3844-6555'),
 ('Frau da Collezione', '+39 022515555'),
 ('West Coast Collectables Co.', '3105553722'),
 ('Mit Vergnügen & Co.', '0621-08555'),
 ('Kremlin Collectables, Co.', '+7 812 293 0521'),
 ('Raanan Stores, Inc', '+ 972 9 959 8555'),
 ('Iberia Gift Imports, Corp.', '(95) 555 82 82'),
 ('Motor Mint Distributors Inc.', '2155559857'),
 ('Signal Collectibles Ltd.', '4155554312'),
 ('Double Decker Gift Stores, Ltd', '(171) 555-7555'),
 ('Diecast Collectables', '6175552555'),
 ("Kelly's Gift Shop", '+64 9 5555500')]

In [8]:
# Your code here
# Display product vendor for each product line
cur.execute('''SELECT productVendor, productName FROM products JOIN productlines USING(productLine);''')
cur.fetchall()

[('Min Lin Diecast', '1969 Harley Davidson Ultimate Chopper'),
 ('Classic Metal Creations', '1952 Alpine Renault 1300'),
 ('Highway 66 Mini Classics', '1996 Moto Guzzi 1100i'),
 ('Red Start Diecast', '2003 Harley-Davidson Eagle Drag Bike'),
 ('Motor City Art Classics', '1972 Alfa Romeo GTA'),
 ('Second Gear Diecast', '1962 LanciaA Delta 16V'),
 ('Autoart Studio Design', '1968 Ford Mustang'),
 ('Second Gear Diecast', '2001 Ferrari Enzo'),
 ('Welly Diecast Productions', '1958 Setra Bus'),
 ('Unimax Art Galleries', '2002 Suzuki XREO'),
 ('Welly Diecast Productions', '1969 Corvair Monza'),
 ('Welly Diecast Productions', '1968 Dodge Charger'),
 ('Second Gear Diecast', '1969 Ford Falcon'),
 ('Studio M Art Models', '1970 Plymouth Hemi Cuda'),
 ('Exoto Designs', '1957 Chevy Pickup'),
 ('Welly Diecast Productions', '1969 Dodge Charger'),
 ('Studio M Art Models', '1940 Ford Pickup Truck'),
 ('Highway 66 Mini Classics', '1993 Mazda RX-7'),
 ('Motor City Art Classics', '1937 Lincoln Berline'),
 ('Studio M Art Models', '1936 Mercedes-Benz 500K Special Roadster'),
 ('Classic Metal Creations', '1965 Aston Martin DB5'),
 ('Red Start Diecast', '1980s Black Hawk Helicopter'),
 ('Welly Diecast Productions', '1917 Grand Touring Sedan'),
 ('Gearbox Collectibles', '1948 Porsche 356-A Roadster'),
 ('Min Lin Diecast', '1995 Honda Civic'),
 ('Gearbox Collectibles', '1998 Chrysler Plymouth Prowler'),
 ('Motor City Art Classics', '1911 Ford Town Car'),
 ('Unimax Art Galleries', '1964 Mercedes Tour Bus'),
 ('Autoart Studio Design', '1932 Model A Ford J-Coupe'),
 ('Carousel DieCast Legends', '1926 Ford Fire Engine'),
 ('Gearbox Collectibles', 'P-51-D Mustang'),
 ('Welly Diecast Productions', '1936 Harley Davidson El Knucklehead'),
 ('Gearbox Collectibles', '1928 Mercedes-Benz SSK'),
 ('Red Start Diecast', '1999 Indy 500 Monte Carlo SS'),
 ('Carousel DieCast Legends', '1913 Ford Model T Speedster'),
 ('Min Lin Diecast', '1934 Ford V8 Coupe'),
 ('Min Lin Diecast', '1999 Yamaha Speed Boat'),
 ('Red Start Diecast', '18th Century Vintage Horse Carriage'),
 ('Unimax Art Galleries', '1903 Ford Model A'),
 ('Unimax Art Galleries', '1992 Ferrari 360 Spider red'),
 ('Highway 66 Mini Classics', '1985 Toyota Supra'),
 ('Carousel DieCast Legends', 'Collectable Wooden Train'),
 ('Min Lin Diecast', '1969 Dodge Super Bee'),
 ('Exoto Designs', '1917 Maxwell Touring Car'),
 ('Gearbox Collectibles', '1976 Ford Gran Torino'),
 ('Gearbox Collectibles', '1948 Porsche Type 356 Roadster'),
 ('Studio M Art Models', '1957 Vespa GS150'),
 ('Exoto Designs', '1941 Chevrolet Special Deluxe Cabriolet'),
 ('Min Lin Diecast', '1970 Triumph Spitfire'),
 ('Exoto Designs', '1932 Alfa Romeo 8C2300 Spider Sport'),
 ('Exoto Designs', '1904 Buick Runabout'),
 ('Motor City Art Classics', '1940s Ford truck'),
 ('Studio M Art Models', '1939 Cadillac Limousine'),
 ('Classic Metal Creations', '1957 Corvette Convertible'),
 ('Studio M Art Models', '1957 Ford Thunderbird'),
 ('Unimax Art Galleries', '1970 Chevy Chevelle SS 454'),
 ('Highway 66 Mini Classics', '1970 Dodge Coronet'),
 ('Autoart Studio Design', '1997 BMW R 1100 S'),
 ('Carousel DieCast Legends', '1966 Shelby Cobra 427 S/C'),
 ('Classic Metal Creations', '1928 British Royal Navy Airplane'),
 ('Motor City Art Classics', '1939 Chevrolet Deluxe Coupe'),
 ('Highway 66 Mini Classics', '1960 BSA Gold Star DBD34'),
 ('Carousel DieCast Legends', '18th century schooner'),
 ('Classic Metal Creations', '1938 Cadillac V-16 Presidential Limousine'),
 ('Autoart Studio Design', '1962 Volkswagen Microbus'),
 ('Highway 66 Mini Classics', '1982 Ducati 900 Monster'),
 ('Classic Metal Creations', '1949 Jaguar XK 120'),
 ('Carousel DieCast Legends', '1958 Chevy Corvette Limited Edition'),
 ('Autoart Studio Design', '1900s Vintage Bi-Plane'),
 ('Exoto Designs', '1952 Citroen-15CV'),
 ('Second Gear Diecast', '1982 Lamborghini Diablo'),
 ('Min Lin Diecast', '1912 Ford Model T Delivery Wagon'),
 ('Exoto Designs', '1969 Chevrolet Camaro Z28'),
 ('Welly Diecast Productions', '1971 Alpine Renault 1600s'),
 ('Autoart Studio Design', '1937 Horch 930V Limousine'),
 ('Gearbox Collectibles', '2002 Chevy Corvette'),
 ('Carousel DieCast Legends', '1940 Ford Delivery Sedan'),
 ('Classic Metal Creations', '1956 Porsche 356A Coupe'),
 ('Second Gear Diecast', 'Corsair F4U ( Bird Cage)'),
 ('Red Start Diecast', '1936 Mercedes Benz 500k Roadster'),
 ('Exoto Designs', '1992 Porsche Cayenne Turbo Silver'),
 ('Second Gear Diecast', '1936 Chrysler Airflow'),
 ('Unimax Art Galleries', '1900s Vintage Tri-Plane'),
 ('Classic Metal Creations', '1961 Chevrolet Impala'),
 ('Motor City Art Classics', '1980’s GM Manhattan Express'),
 ('Exoto Designs', '1997 BMW F650 ST'),
 ('Gearbox Collectibles', '1982 Ducati 996 R'),
 ('Classic Metal Creations', '1954 Greyhound Scenicruiser'),
 ('Gearbox Collectibles', "1950's Chicago Surface Lines Streetcar"),
 ('Red Start Diecast', '1996 Peterbilt 379 Stake Bed with Outrigger'),
 ('Highway 66 Mini Classics', '1928 Ford Phaeton Deluxe'),
 ('Second Gear Diecast', '1974 Ducati 350 Mk3 Desmo'),
 ('Studio M Art Models', '1930 Buick Marquette Phaeton'),
 ('Highway 66 Mini Classics', 'Diamond T620 Semi-Skirted Tanker'),
 ('Classic Metal Creations', '1962 City of Detroit Streetcar'),
 ('Autoart Studio Design', '2002 Yamaha YZR M1'),
 ('Autoart Studio Design', 'The Schooner Bluenose'),
 ('Min Lin Diecast', 'American Airlines: B767-300'),
 ('Studio M Art Models', 'The Mayflower'),
 ('Unimax Art Galleries', 'HMS Bounty'),
 ('Motor City Art Classics', 'America West Airlines B757-200'),
 ('Red Start Diecast', 'The USS Constitution Ship'),
 ('Carousel DieCast Legends', '1982 Camaro Z28'),
 ('Highway 66 Mini Classics', 'ATA: B757-300'),
 ('Motor City Art Classics', 'F/A 18 Hornet 1/72'),
 ('Carousel DieCast Legends', 'The Titanic'),
 ('Welly Diecast Productions', 'The Queen Mary'),
 ('Second Gear Diecast', 'American Airlines: MD-11S'),
 ('Motor City Art Classics', 'Boeing X-32A JSF'),
 ('Unimax Art Galleries', 'Pont Yacht')]

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [9]:
# Your code here
cur.execute("""select firstName, lastName,
                      productName
                      from employees e
                      join
                      customers c
                      on e.employeeNumber = c.salesRepEmployeeNumber
                      join orders o
                      using(customerNumber)
                      join orderdetails od
                      using(orderNumber)
                      join products p
                      using(productCode)""")
df = pd.DataFrame(cur.fetchall())
print(len(df))
df.head()

2996

        0         1                                            2
0  Leslie  Jennings                               1958 Setra Bus
1  Leslie  Jennings                       1940 Ford Pickup Truck
2  Leslie  Jennings                      1939 Cadillac Limousine
3  Leslie  Jennings  1996 Peterbilt 379 Stake Bed with Outrigger
4  Leslie  Jennings                            1968 Ford Mustang

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!